.items{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 190px;
    height: 150px;
    border-radius: 20px;
    -webkit-box-shadow: -4px 3px 11px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: -4px 3px 11px -7px rgba(0,0,0,0.75);
    box-shadow: -4px 3px 11px -7px rgba(0,0,0,0.75);
    cursor: pointer;
    
    img{
        width: 100px;
    }

    p{
        color: var(--color-paragraph);
        font-weight: 500;
    }
}