.header{
    position: fixed;
    top:0;
    left: 0;
    height: auto;
    width: 200px;
    padding: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 30px;

    .nav-container{
        width: 100%;
        .nav-items{
            list-style: none;
            display: flex;
            gap: 20px;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            li{
                
                a {
                    text-decoration: none;
                    color: var(--color-paragraph);
                    font-size: 1.1rem;
                    font-weight: 600;
                }
            } 
        }
    }

    .toggle-switch {
        position: relative;
        width: 70px;
        height: 20px;
    
        .switch-label {
            position: absolute;
            width: 100%;
            height: 20px;
            background-color: var(--dark);
            border-radius: 25px;
            cursor: pointer;
            border: 1px solid var(--dark);
            padding: 1px;

            .checkbox {
                position: absolute;
                display: none;
            }
                
            .slider {
                position: absolute;
                width: 100%;
                height: 100%;
                border-radius: 25px;
                -webkit-transition: 0.3s;
                transition: 0.3s;
            }
    
            .checkbox:checked ~ .slider {
                background-color: var(--light);
            }
                
            .slider::before {
                content: "";
                position: absolute;
                top: 0px;
                left: 0px;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                -webkit-box-shadow: inset 12px -4px 0px 0px var(--light);
                box-shadow: inset 7px -1px 0px 0px var(--light);
                background-color: var(--dark);
                -webkit-transition: 0.3s;
                transition: 0.3s;
            }
                
            .checkbox:checked ~ .slider::before {
                -webkit-transform: translateX(50px);
                -ms-transform: translateX(50px);
                transform: translateX(50px);
                background-color: var(--dark);
                -webkit-box-shadow: none;
                box-shadow: none;
            }
            
        }
    }
}   






